html {
    position: fixed;
    overflow: hidden;
}

body {
    background-color: black;
    background-image: url(./assets/images/Number-Map_matrix3end_12fps.gif);
    background-position: center;
    height: 100vh;
    font-size: 16px;
    overflow-y: scroll;
    width: 100vw;
}

.App {
    align-items: center;
    justify-content: center;
}

main {
    width: 80vw;
    margin: 0 10vw;
}

/* Border Styles */

.transfer-wrap, .banner, .end-message {
    border: outset 4px gray;
    background-color: gray;
}

.error-msg {
    color: red;
    padding: 1rem;
    text-align: center;
}

.alert {
    border: outset 4px gray;
    background-color: black;
    color: white;
}

/* Intro Section */

.intro {
    color: white;
    text-align: center;
}

.intro li {
    list-style-position:inside 
}

/* Transfer Form Section */

.transfer-wrap {
    background-image: url(./assets/images/blue-liquid.gif);
    background-size: cover;
    background-position: bottom;
}

.transfer-wrap, .alert {
    padding: 1rem;
    margin-bottom: 1rem;
}

.form-wrap {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

form, .form-wrap img {width: 100%;}

@media screen and (min-width: 1000px) {
    .form-wrap {flex-direction: row;}
}

label {
    display: inline-block;
    margin-right: 0.5rem;
    width: 25%;
    box-sizing: border-box;
}

input {margin-bottom: 1rem;}

input[type="password"],
input[type="text"] {
    border-radius: 0;
    width: calc(75% - 0.5rem);
    box-sizing: border-box;
}

input[type="submit"],
input[type="text"],
label,
.button {color: white;}

input[type="submit"],
.button {
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(212, 32, 12) 31%);
    border: groove 3px rgb(153, 23, 8);
    padding: 0.75em 2em;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

input[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
}

/* Progress Bar */

.tracker-wrap {
    position: relative;
    height: 200px;
    top: calc((200px - 30px) / 2);
}

.tracker {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px white;
}

.tracker,
.progress {
    height: 30px;
    border-radius: 50px;
}

.progress {
    background-color: rgb(212, 32, 12);
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(212, 32, 12) 31%);
    color: white;
    text-align: center;
    line-height: 30px;
    transition: width linear 1s;
}

/* Alert */

.alert {
    position: absolute;
    width: 150px;
    max-width: calc(100% - (55% + 10vw));
    box-sizing: border-box;
}

.alert button {
    display: block;
    float: right;
}

/* Banners */

img {
    width: 100%;
    display: block;
}

.banner {margin: 1rem 0;}

/* Video */

.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.video-background #video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-image: url(./assets/images/trees-background0.png);
  background-size: cover;
  background-position: center;
}

@media (min-aspect-ratio: 16/9) {
  .video-background #video {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-background #video {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

/* End Message */

.end-message {
    z-index: 100;
    position: absolute;
    width: 550px;
    max-width: calc(100% - 32px);
    min-height: 350px;
    background-image: url(./assets/images/coolearth-thumb.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.end-message::after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index: 110;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.message-wrap {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 16px;
    min-height: 350px;
    z-index: 120;
    position: absolute;
    box-sizing: border-box;
}

svg#coolearth-logo {
    fill: white;
    width: 40%;
}

.donate-message {
    width: 60%;
    padding-left: 16px;
}

/* Loading Screen */

.video-loading {
    position: absolute;
    z-index: 90;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-chaos {
    max-width: 100px;
    display: inline-block;
}

